@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Components.Web

@inject NotificationState NotificationState

<div class="page">
	<div>
		<label class="switch">
			<input type="checkbox">
			<span class="slider"></span>
		</label>
	</div>

	<main>
		<ProcessNotification>
				@Body
		</ProcessNotification>
	</main>
</div>

@code {

}
