@property --bg-color {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}

@property --button-color {
    syntax: "<color>";
    inherits: true;
    initial-value: #E5EDF5;
}

@property --button-hover-shadow {
    syntax: "<color>";
    inherits: true;
    initial-value: rgb(95 157 231 / 48%);
}

@property --text-color {
    syntax: "<color>";
    inherits: true;
    initial-value: black;
}

/* From Uiverse.io by zebra76966 */
.switch {
    position: absolute;
    top: 15vw;
    right: 1vw;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 60px;
    padding: 2px;
    text-align: center;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    inset: 0;
    cursor: pointer;
    border-radius: 999px;
    border: 1px solid rgba(0,0,0,0.2);
    border-style: outset;
    background-color: #fff;
    transition: background-color 0.4s;
}

.slider::before {
    content: "🌞";
    position: absolute;
    width: 26px;
    height: 26px;
    left: 50%;
    top: 2px;
    transform: translate(-50%, 0);
    display: grid;
    place-items: center;
    font-size: 18px;
    border-radius: 50%;
    background: transparent;
    transition: transform 0.4s, content 0.4s;
}

.switch > input:checked + .slider {
    background-color: #000429;
}

.switch > input:checked + .slider::before {
    content: "🌑";
    transform: translate(-50%, 28px);
}
/* From Uiverse.io by zebra76966 */

.page:has(.switch > input:checked) {
    --button-color: black;
    --bg-color: #0B192C;
    --text-color: rgb(255 101 0);
}

.return-btn {
    position: absolute;
    color: var(--text-color);
    font-size: 1.5rem;
    margin: 3vw;
}

::deep a, ::deep u {
    text-decoration-line: none;
    text-decoration-color: none;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row ::deep a, .top-row ::deep .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
    text-decoration: underline;
}

.top-row ::deep a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

        .top-row ::deep a, .top-row ::deep .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
