@inherits LayoutComponentBase
<div class="page">
	<div>
		<label class="switch">
			<input type="checkbox">
			<span class="slider"></span>
		</label>
		<label class="return-btn">
			<a class="fa-solid fa-arrow-left"></a>
		</label>
	</div>
	<main>
		@Body
	</main>
</div>
