@using Microsoft.Extensions.Logging
@using System.Text
@using Microsoft.AspNetCore.Components

@inherits ErrorBoundary

@inject NotificationState NotificationState

@if (NotificationState.Running != null)
{
	@foreach (State actualState in NotificationState.Running)
	{
		switch (actualState.Type)
		{
			case NotificationType.Error:
				<div class="error-container">
					<div>
						<p>
							<i class="fas fa-exclamation-triangle"></i>
							@actualState.Message
						</p>
					</div>
				</div>
				break;

			case NotificationType.Success:
				<div class="success-container">
					<div>
						<p>
							<i class="fas fa-check-circle"></i>
							@actualState.Message
						</p>
					</div>
				</div>
				break;
		}
	}
}
<CascadingValue Value="this">
	@ChildContent
</CascadingValue>

@code {

	protected override Task OnErrorAsync(Exception ex)
	{
		State errorState = new State { Message = ex.Message, Type = NotificationType.Error };

		if (CheckDuplicatedState(errorState))
			return Task.CompletedTask;

		AddState(errorState);

		_ = ShowAndHideAsync(errorState);

		return Task.CompletedTask;
	}

	public void ShowSuccessMessage(string message)
	{
		State successState = new State { Message = message, Type = NotificationType.Success };

		if (CheckDuplicatedState(successState))
			return;

		AddState(successState);
		_ = ShowAndHideAsync(successState);
	}

	private async Task ShowAndHideAsync(State state)
	{
		await InvokeAsync(StateHasChanged);

		await Task.Delay(5000);

		if (NotificationState.Running != null)
			NotificationState.Running.Remove(state);
	
		Recover();

		await InvokeAsync(StateHasChanged);
	}

	private void AddState(State state)
	{
		if (NotificationState.Running == null)
			NotificationState.Running = new List<State>();

		NotificationState.Running.Add(state);
	}

	private bool CheckDuplicatedState(State state)
	{
		return NotificationState.Running?.Any(x => x.Message.Equals(state.Message) && x.Type == state.Type) ?? false;
	}
}