
.error-container {
    background-color: rgb(183, 14, 9);
    position: fixed;
    width: 70vw;
    font-size: 1.2rem;
    color: white;
    margin: 7.5px;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    height: fit-content;
    opacity: 0.9;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.error-container p {
    margin: 0;
    padding: 0;
}
