.home-grid {
    width: 100vw;
}

p {
    margin: 0;
}

.home-title {
    text-align: center;
    width: 100%;
}

.add-user ::deep a, .home-title {
    color: var(--text-color);
    text-align: center;
    width: 100%;
}

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    width: 100%;
    display: grid;
    gap: 10px;
    justify-content: center;
    grid-template-columns: auto auto;
}

::deep .user-image {
    width: 45vw;
    height: 45vw;
    object-fit: cover;
}

.btn-edit-overlay {
    width: 40px;
    height: 40px;
    position: absolute;
    justify-self: start;
    align-self: start;
    margin: 5px;
}

    .btn-edit-overlay a {
        z-index: 100 !important;
        opacity: 1 !important;
        background: none;
        display: flex;
        cursor: pointer;
        justify-self: start;
        align-self: start;
        position: absolute;
        color: var(--text-color);
    }

    .btn-edit-overlay i {
        font-size: 20px;
    }

.row-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-users {
    display: flex;
    flex-direction: column;
    align-Items: center;
    border: solid 3px var(--button-color);
    border-radius: 10px;
    overflow: hidden;
}

.add-user {
    width: 45vw;
    height: 46.5vw;
    justify-content: center;
}

.user-name {
    color: var(--text-color);
}
