.home-grid {
    width: 100vw;
}

.home-title {
    text-align: center;
    width: 100%;
}

.add-user ::deep a, .home-title {
    color: var(--text-color);
}

::deep td {
    color: var(--text-color);
}

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

::deep thead {
    display: none;
}

::deep tbody {
    width: 100%;
}

::deep tr {
    width: 45vw;
    float: left;
}

::deep tr .user-id {
    visibility: hidden;
}

::deep tr .user-image {
    width: 40vw;
    height: 40vw;
    padding: 3px;
}

::deep td {
    display: flex;
    flex-direction: column;
    text-align: center;
}

::deep table {
    table-layout: fixed;
}
