.secondary-container {
    background-color: var(--bg-color);
}

.user-profile {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 4px solid #ffffff;
    box-shadow: 0px 0px 8px 0px rgb(95 157 231 / 48%);
}

.container-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

    .container-image img {
        height: 55vw;
        width: 55vw;
    }

.custom-file-upload {
    height: 60vw;
    width: 60vw;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cacaca;
    background-color: var(--bg-color);
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
    overflow: hidden;
}