@page "/login"
@using MiniERP.BusinessRules.Login.Entities
<div class="mr-0 container-main">
	<label class="return-btn">
		<a class="fa-solid fa-arrow-left"></a>
	</label>
	<content >
		<div class="p-0 flex-md-column align-items-center justify-content-center secondary-container">
			<div class="mb-2 mt-2 d-flex justify-content-center">
				<img src="img/default.png" class="img-thumbnail" alt="logo" />
			</div>
			<div id="inpUser" class="mb-2 field">
				<label class="form-label">Login:</label>
				<div>
					<input class="form-control" @bind="userLogin" />
				</div>
			</div>
			<div id="inpPassword" class="mb-2 field">
				<label class="form-label">Password:</label>
				<div>
					<input class="form-control" @bind="userPassword" />
				</div>
			</div>
			<div class="mt-2">
				<div class="mb-2">
					<button id="btnLogin" class="button" @onclick="UserLogin">Access</button>
				</div>
				<div class="">
					<a id="btnRegister" href="/register" class="button">Register</a>
				</div>
			</div>
			@if (!string.IsNullOrEmpty(errorMessage))
			{
				<div class="alert alert-danger mt-4" style="position:sticky">
					@errorMessage
				</div>
			}
		</div>
	</content>
</div>

@code {
	private string errorMessage = "";
	private string userLogin = "";
	private string userPassword = "";

	private async Task UserLogin(MouseEventArgs e)
	{
		User user = new User
		{
			Login = userLogin,
			Password = userPassword
		};

		await new MiniERP.BusinessRules.Login.Login(user).TryLogin();
	}

}