.custom-file-upload {
    height: 60vw;
    width: 60vw;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cacaca;
    background-color: var(--bg-color);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
}

.custom-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-icon {
    color: var(--text-color);
}

.custom-file-upload ::deep input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.container-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title-page {
    text-align: center;
    color: var(--text-color);
}

