@page "/register/{idUser:int}"
@using MiniERP.BusinessRules.Register.Entities

<div class="container-main">
	<label class="return-btn">
		<a href="/" class="fa-solid fa-arrow-left"></a>
	</label>
	<content>
		<div class="title title-page">
			<h1>Register</h1>
		</div>
		<div class="p-0 flex-md-column align-items-center justify-content-center secondary-container">
			<div class="container-image mb-2">
				@if (_imageUrl == null)
				{
					<label class="custom-file-upload" for="file">
						<button id="file" @onclick="PickAndShow"></button>
						<div class="upload-icon">
							<i class="fa-solid fa-camera"></i>
						</div>
					</label>
				}
				else
				{
					<label class="custom-file-upload">

						<button type="button" class="btn-delete-overlay" @onclick="DeleteImage">
							<i class="fas fa-trash-alt"></i>
						</button>

						<img src="@_imageUrl"/>
					</label>
				}
			</div>
			<div id="inpEmail" class="mb-2 field">
				<label class="form-label">Email:</label>
				<div>
					<input class="form-control" @bind="_email"/>
				</div>
			</div>
			<div id="inpName" class="mb-2 field">
				<label class="form-label">Name:</label>
				<div>
					<input class="form-control" @bind="_name"/>
				</div>
			</div>

			@if (_edit)
			{
				<div id="inpActualPassword" class="mb-2 field">
					<label class="form-label">Actual Password:</label>
					<div>
						<input class="form-control" @bind="_actualPassword"/>
					</div>
				</div>
			}

			<div id="inpPassword" class="mb-2 field">
				<label class="form-label">Password:</label>
				<div>
					<input class="form-control" @bind="_password"/>
				</div>
			</div>
			<div id="inpConfirmPassword" class="mb-2 field">
				<label class="form-label">Confirm Password:</label>
				<div>
					<input class="form-control" @bind="_confirmPassword"/>
				</div>
			</div>
			<div class="mb-2">
				<button class="button" @onclick="UserRegister">Save</button>
			</div>
			@if (_edit)
			{
				<div>
					<button class="button">Delete</button>
				</div>
			}
		</div>
	</content>
</div>

@code {
	private string? _actualPassword;
	private string? _password;
	private string? _confirmPassword;
	private string? _email;
	private string? _name;
	private string? _imageUrl;
	private byte[]? _bytes;

	private byte[]? bytesImage
	{
		get => _bytes;
		set
		{
			if (value is null)
			{
				_imageUrl = null;
				_bytes = null;
			}
			else
			{
				_imageUrl = $"data:image/png;base64,{Convert.ToBase64String(value) ?? string.Empty}";
				_bytes = value;
			}
		}
	}

	private bool _edit = false;
	private int _idUser;

	[Parameter]
	public int idUser
	{
		get => _idUser;
		set
		{
			_idUser = value;
			_edit = value > -1;
		}
	}

	public async Task PickAndShow()
	{
		PickOptions options = new()
		{
			PickerTitle = "Please select a comic file",
			FileTypes = FilePickerFileType.Images,
		};
		var result = await FilePicker.Default.PickAsync(options);
		if (result != null)
		{
			if (result.FileName.EndsWith("jpg", StringComparison.OrdinalIgnoreCase) ||
			    result.FileName.EndsWith("png", StringComparison.OrdinalIgnoreCase))
			{
				bytesImage = PopulateImageFromStream(await result.OpenReadAsync());
			}
		}
	}

	private byte[] PopulateImageFromStream(Stream stream)
	{
		MemoryStream ms = new MemoryStream();
		stream.CopyTo(ms);
		byte[] byteArray = ms.ToArray();
		return byteArray;
	}

	private async Task UserRegister()
	{
		User user = new User()
		{
			Name = _name ?? "",
			Email = _email ?? "",
			ProfileImage = _bytes,
			ActualPassword = _actualPassword,
			Password = _password ?? "",
			ConfirmPassword = _confirmPassword ?? "",
			Edit = _edit
		};
		
		await new BusinessRules.Register.Register(user).TryRegister();
	}

	private void DeleteImage()
	{
		bytesImage = null;
	}

	protected override void OnParametersSet()
	{
		idUser = idUser;
	}

}
