@page "/register"

<div class="container-main">
	<content>
		<div class="title title-page">
			<h1>Register</h1>
		</div>
		<div class="p-0 flex-md-column align-items-center justify-content-center secondary-container">
			<div class="container-image mb-2">
				<label class="custom-file-upload" for="file">
					<div class="upload-icon">
						<i class="fa-solid fa-camera"></i>
					</div>
					<input type="file" id="file">
				</label>
			</div>
			<div id="inpEmail" class="mb-2 field">
				<label class="form-label">Email:</label>
				<div>
					<input class="form-control" />
				</div>
			</div>
			<div id="inpName" class="mb-2 field">
				<label class="form-label">Name:</label>
				<div>
					<input class="form-control" />
				</div>
			</div>
			<div id="inpPassword" class="mb-2 field">
				<label class="form-label">Password:</label>
				<div>
					<input class="form-control" />
				</div>
			</div>
			<div id="inpConfirmPassword" class="mb-2 field">
				<label class="form-label">Confirm Password:</label>
				<div>
					<input class="form-control" />
				</div>
			</div>
			<div class="mb-2">
				<button class="button" @onclick="UserRegister">Save</button>
			</div>
			<div>
				<button class="button">Delete</button>
			</div>
		</div>
	</content>
</div>

@code {
	private async Task UserRegister()
	{
        throw new Exception("Not implemented yet.");
    }
}
