@page "/register/{idUser:int}"

<div class="container-main">
	<label class="return-btn">
		<a href="/" class="fa-solid fa-arrow-left"></a>
	</label>
	<content>
		<div class="title title-page">
			<h1>Register</h1>
		</div>
		<div class="p-0 flex-md-column align-items-center justify-content-center secondary-container">
			<div class="container-image mb-2">
				@if (_imageUrl == null)
				{
					<label class="custom-file-upload" for="file">
						<button id="file" @onclick="PickAndShow"></button>
						<div class="upload-icon">
							<i class="fa-solid fa-camera"></i>
						</div>
					</label>
				}
				else
				{
					<label class="custom-file-upload">

						<button type="button" class="btn-delete-overlay" @onclick="DeleteImage">
							<i class="fas fa-trash-alt"></i>
						</button>

						<img src="@_imageUrl" />
					</label>
				}
			</div>
			<div id="inpEmail" class="mb-2 field">
				<label class="form-label">Email:</label>
				<div>
					<input class="form-control" />
				</div>
			</div>
			<div id="inpName" class="mb-2 field">
				<label class="form-label">Name:</label>
				<div>
					<input class="form-control" />
				</div>
			</div>
			<div id="inpPassword" class="mb-2 field">
				<label class="form-label">Password:</label>
				<div>
					<input class="form-control" />
				</div>
			</div>
			<div id="inpConfirmPassword" class="mb-2 field">
				<label class="form-label">Confirm Password:</label>
				<div>
					<input class="form-control" />
				</div>
			</div>
			<div class="mb-2">
				<button class="button" @onclick="UserRegister">Save</button>
			</div>
			@if (idUser > -1)
			{
				<div>
					<button class="button">Delete</button>
				</div>	
			}
		</div>
	</content>
</div>

@code {
	private string? _imageUrl;
	private string? _base64;
	private string? imageBase64
	{
		get => _base64;
		set
		{
			if (string.IsNullOrWhiteSpace(value))
			{
				_imageUrl = null;
				_base64 = null;
			} else
			{
				_imageUrl = $"data:image/png;base64,{value}";
				_base64 = value;
			}
		}
	}

	[Parameter]
	public int idUser { get; set; }

	public async Task PickAndShow()
	{
		try
		{
			PickOptions options = new()
			{
				PickerTitle = "Please select a comic file",
				FileTypes = FilePickerFileType.Images,
			};
			var result = await FilePicker.Default.PickAsync(options);
			if (result != null)
			{
				if (result.FileName.EndsWith("jpg", StringComparison.OrdinalIgnoreCase) ||
						result.FileName.EndsWith("png", StringComparison.OrdinalIgnoreCase))
				{
					imageBase64 = PopulateImageFromStream(await result.OpenReadAsync());
				}
			}

			//return result;
		}
		catch (Exception ex)
		{
			// The user canceled or something went wrong
		}

	}

	private string PopulateImageFromStream(Stream stream)
	{
		MemoryStream ms = new MemoryStream();
		stream.CopyTo(ms);
		byte[] byteArray = ms.ToArray();
		var b64String = Convert.ToBase64String(byteArray);
		return b64String;
	}

	private async Task UserRegister()
	{
		throw new Exception("Not implemented yet.");
	}

	private void DeleteImage()
	{
		imageBase64 = null;
	}

	protected override void OnParametersSet()
	{
		idUser = idUser;
	}
}
