.custom-file-upload {
    height: 60vw;
    width: 60vw;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cacaca;
    background-color: var(--bg-color);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
}

.upload-icon {
    color: var(--text-color);
}

.custom-file-upload ::deep button {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.container-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-image img {
    height: 55vw;
    width: 55vw;
}

.title-page {
    text-align: center;
    color: var(--text-color);
}

.btn-delete-overlay {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100 !important;
    opacity: 1 !important;
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--bg-color);
}
